{% extends 'layout.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block content %}
    <h1>Bienvenue sur ma solution au test technique</h1>

<h2>Pour accéder au dump de la solution, <a href="/send">cliquer ici</a>.</h2>

{% endblock %}
